/* Typography Presets */
@mixin text-preset-1 {
  font-family: 'Young Serif', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
}

@mixin text-preset-2 {
  font-family: 'Young Serif', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
}

@mixin text-preset-3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}

@mixin text-preset-4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-preset-4-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}