:root {
  --color-rose-800: #7a284e;
  --color-rose-50: #fff7fb;
  --color-stone-900: #312e2c;
  --color-stone-600: #5f564d;
  --color-stone-150: #e3ddd7;
  --color-stone-100: #f3e5d7;
  --color-brown-800: #854632;
  --color-white: #ffffff;

  --spacing-1600: 128px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
}
