.top-image {
  width: 100%;
  height: 170px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .top-image {
    height: 300px;

    img {
      border-radius: var(--spacing-150, 12px);
    }
  }
}
